@font-face {
  font-family:"OpenSans-Regular";
  src: url("https://github.com/moriarty39/mq-diploma2/blob/master/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"OpenSans-Bold";
  src: url("https://github.com/moriarty39/mq-diploma2/blob/master/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

html {
  margin-top: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.header-main {
  background-color: #000000;
  background-image: url("https://github.com/moriarty39/mq-diploma2/blob/master/images/football_767.jpg?raw=true");
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 960px;
}

.header::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0a0e34;
  opacity: 0.8;
}

.header-top {
  position: relative;
  margin: 0 auto;
  max-width: 1540px;
  z-index: 1;
}

.header-top-image {
  width: 135px;
  height: 38px;
  display: block;
  margin: 0 auto 130px auto;
  padding-top: 30px;
  fill: #ffffff;
}

.header-txtst {
  font-size: 90px;
  line-height: 85px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 220px;
  margin-left: auto;
  margin-right: auto;
}

.header-right {
  text-align: end;
  margin-top: 0;
}

.store-buttons {
     position: relative;
     display: flex;
     justify-content: center;
 } 

 .icon {
    display: flex;
    text-decoration: none;
    border-radius: 50px;
    background: #5e42b0;
    align-items: center;
    justify-content: center;
    height: 77px;
    width: 311px;
 }

.icon:last-child {
    margin-left: 50px;
}
 
.icon p {
    display: inline-block;
  }

.image-wrap {
    display: inline-block;
    width: 40px;
    height: 50px;
    margin: 0;
  }

.image-wrap svg {
    display: block;
    width: 100%;
    fill: #fff;
  }

.button-txt {
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    font-size: 14px;
  }

.button-txt span + article {
    margin-top: 20px;
  }

 .button-txt span:last-child {
    color: #fff;
    display: block;
    font-weight: 600;
  }
 


.athlets {
    position: relative;
}

.athlets-image {
    width: 30%;
    height: 51%;
    position: absolute;
    margin-top: 30px;
    margin-left: 190px;
}

.athlets-title {
    font-size: 80px;
    color: #e7e7e7;
    text-transform: uppercase;
    margin-top: 72px;
    margin-bottom: 72px;
    line-height: 0.8;
}

.athlets1, .players1 {
    margin-bottom: 60px; 
    display: flex;
}

.connection, .collaboration, .growth {
    display: flex;
    margin-top: 0;
    margin-bottom: 30px;
}

.number {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 7px;
    font-weight: 700;
    position: relative;
}

.number::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 5px;
    background-color: #5e42b0;
    right: 0;
    margin: 0 auto;
    border-radius: 25%;
    display : block;
}

.title {
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    text-transform: uppercase;
    color: #c1c1c1;
}

.content p {
    margin: 0;
}

.athlets2, .players2 { 
    background-color: #f6f4fa;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.athlets3, .players3 {
    background-color: #5e42b0;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.number3 {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 7px;
    font-weight: 700;
    position: relative;
}

.number3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 5px;
    background-color: #efefef;
    right: 0;
    margin: 0 auto;
    border-radius: 25%;
    display: block;
}

.content-growth p {
color: #ffffff;
}

.info {
    width: 50%;
    margin-right: 195px;
}

.empty, .players-empty {
    width: 50%;
}

.footer {
    background-color: #000000;
    background-image: url("https://github.com/moriarty39/mq-diploma2/blob/master/images/game_1920.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 960px;
}

.footer::before {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

.footer-title {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.footer-image {
    width: 135px;
    height: 38px;
    display: block;
    margin: auto;
    padding: 130px 0 30px 0;
    fill: #ffffff;
}

.footer-svg {
    z-index: 2;
    width: 108px;
    height: 93px;
    fill: #ffffff;
    background-color: #53399e;
    padding: 27px 15px;
    border-radius: 25%;
    margin-right: 35px;
}

.description {
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 150px;
    font-size: 80px;
    font-weight: 700;
  }

.description span:last-child {
    color: #a496ca;
    display: block;
    font-weight: 400;
    font-size: 30px;
  }

.header2 {
  background-color: #000000;
  background-image: url("https://github.com/moriarty39/mq-diploma2/blob/master/images/game_1920.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 960px;
}

.header2::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0a0e34;
  opacity: 0.8;
}

.players-image {
    width: 41%;
    height: 46%;
    position: absolute;
    margin-top: 30px;
    right: 10%;
}

.players1, .players2, .players3 {
    flex-direction: row-reverse;
}

.players3 {
    background-color: #0a0e34;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.number-players3 {
    font-size: 18px;
    color: #9173e6;
    margin-top: 10px;
    margin-bottom: 7px;
    font-weight: 700;
    position: relative;
}

.number-players3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 5px;
    background-color: #efefef;
    right: 0;
    margin: 0 auto;
    border-radius: 25%;
    display : block;
}

.be-active-wrapper, .contact-wrapper {
    display: flex;
    position: relative;
    height: 730px;
    justify-content: space-between;
}

.be-active-info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.be-active-image {
    background-image: url("https://github.com/moriarty39/mq-diploma2/blob/master/images/be-active_1024.jpg?raw=true");
    background-size: cover;
    width: 50%;
    background-position: center center;
}

.contact-image {
    background-image: url("https://github.com/moriarty39/mq-diploma2/blob/master/images/find-contact.jpg?raw=true");
    background-size: cover;
    width: 50%;
    background-position: center center;
}

.work-it-image {
    background-image: url("https://github.com/moriarty39/mq-diploma2/blob/master/images/work-it.jpg?raw=true");
    background-size: cover;
    width: 50%;
    background-position: center center;
}

.be-active-info {
   width: 50%;
   display: flex;
   align-items: center;
   ustify-content: center;
   font-size: 24px;
}

.be-active-content {
    padding: 0 130px;
}

.tip {
    position: absolute;
    top: 40%;
    right: 47%;
}

.tip1 {
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    text-align: center;
    display: inline-block;
}

.tip-number{
    font-size: 18px;
    color: #f5f6f7;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 0;
    top: 40%;    
}

.tip-number::after {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 5px;
    background-color: #8f7bc8;
    right: 0;
    margin: 0 auto;
    border-radius: 25%;
    display : block;
}
