@font-face {
  font-family:"OpenSans";
  src: url("https://github.com/moriarty39/mq-diploma2/blob/master/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"OpenSans";
  src: url("https://github.com/moriarty39/mq-diploma2/blob/master/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

html {
  margin-top: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.header {
  position: relative;
  width: 100%;
  background-image: url("https://github.com/moriarty39/mq-diploma2/blob/master/images/football_767.jpg?raw=true");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 567px;
  min-width: 320px;
  padding-left: 20px;
  padding-top: 35px;
  padding-bottom: 80px;
  box-sizing: border-box;
  background-color: #000000;
}

.header::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0a0e34;
  opacity: 0.8;
}

.header-image {
  position: relative;
  height: 70px;
  width: 135px;
  display: block;
  margin: auto;
  padding: 30px 0 130px 0;
  fill: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.header-headline1 {
  margin-top: 135px;
  position: relative;
  text-align: left;
}

.header-text {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 28px;
  font-family: "OpenSans-Bold", sans-serif;
}

.header-headline2 {
  margin-top: 28px;
  position: relative;
  text-align: left;
  margin-left: 45px;
}

.store {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  color: #ffffff;
}